@import '@/assets/base.css';

#app {
  max-width: 1280px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/*
@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}
*/

/* semantic color variables for this project */
:root {
  --jc-theme-creme: #F4E9C9;
  --jc-theme-yellow: #FFE86B;
  --jc-theme-blue-lightest: #87bbc4;
  --jc-theme-blue-lighter: #66a3ad;
  --jc-theme-blue: #44838C;
  --jc-theme-blue-darker: #3b7179;
  --jc-theme-blue-darkest: #315e65;
  --jc-disabled-clr: #cccccc; /* Light gray */
}

$jc-theme-bg-clr: #CFE6E8;

$jc-button-radius: 25px;
.jc-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: center;
  color: var(--jc-theme-creme);
  background-color: var(--jc-theme-blue);
  border: none;
  border-radius: $jc-button-radius;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover,
  &:focus {
    background-color: var(--jc-theme-blue-darker);
    outline: none;
  }

  &:active {
    background-color: var(--jc-theme-blue-darkest);
  }

  &:disabled {
    background-color: var(--jc-disabled-clr);
  }
}
